.job-opening-heading {
  font-size: 1.75rem;
  margin-left: 1.5rem;
}

.jobs {
  display: flex;
  flex-direction: column;
  width: 45rem;
  gap: 1rem;
}

@media only screen and (max-width: 1230px) {
  .jobs {
    width: 40rem;
  }
}

@media only screen and (max-width: 800px) {
  .jobs {
    width: 30rem;
    padding: 1rem;
  }

  .jobs-opening-heading {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .jobs {
    width: 20rem;
  }
}
