.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
  gap: 3rem;
}

@media only screen and (max-width: 1230px) {
  .App {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
